<nav ng-controller="loginController as vm" class="navbar navbar-default navbar-fixed-top" ng-init="vm.init()" >
  <div class='container'>
    <a href="#!/" class="navbar-brand">MeanHotel App</a>

    <ul class='nav navbar-nav mr-auto'>
      <li ng-class="vm.isActiveTab('hotels')" class='active'>
        <a href="#!/hotels">hotels</a>
      </li>
      <li ng-class="vm.isActiveTab('register')" ng-if="!vm.isLoggedIn()" class='active'>
        <a href="#!/register">Register</a>
      </li>
      <li ng-class="vm.isActiveTab('profile')" ng-if="vm.isLoggedIn()" class='active'>
        <a href="#!/profile">Profile</a>
      </li>
    </ul>

    <form ng-if="!vm.isLoggedIn()" class="form-inline" ng-submit="vm.login()">
      <div class="form-group" ng-class="{ 'has-error': vm.error }">
        <input type="text" class="form-control input-sm" placeholder="Username" ng-model="vm.username" autocapitalize="none">
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-sm" placeholder="Password" ng-model="vm.password" autocapitalize="none">
      </div>
      <button type="submit" class="btn btn-success">Login</button>
    </form>

    <ul ng-if="vm.isLoggedIn()" class='nav navbar-nav navbar-right'>
      <li><p class="navbar-text">Welcome back <strong>{{ vm.loggedInUser }}</strong></p></li>
      <li><button class="navbar-btn btn-sm btn-info" ng-click="vm.logout()">Logout</button></li>
    </ul>

  </div>
</nav>